<appSettings>
  
  <!-- 
    ===============================
      Active Directory configuration
    ===============================
  -->

  <!-- Properties specifying how to access the Domain Controller. -->
  <add key="url" value="host:port" />

  <!-- Properties specifying the domain name -->
  <add key="domainName" value="domainName" />
  
  <!-- Properties specifying what to sync. -->
  <add key="rootDN" value="pointer to the subtree containing all Nprinting groups to import e.g. OU=NPrinting,DC=yourDomain,DC=com" />

  <!-- Properties specifying the base domain controller. -->
  <add key="syncBaseDN" value="domainName e.g. DC=yourdomain,DC=com" />

  <!-- Ldap filter expression used when searching for groups to replicate. -->
  <!-- Explanation of the attributes used: -->
  <!--   (name=Np*) ______________ filter groups that have names starting with 'Np' -->
  <add key="searchFilter" value="(&amp;(objectCategory=group)(name=Np*))"/>
  
  <!-- Ldap filter expression used when searching for deleted groups. -->
  <!-- it considers only groups that have lastKnownParent equal to rootDN value (same value as in line #21. it will be dynamically evaluated at runtime) -->
  <add key="searchDeletedObjectsFilter" value="(&amp;(&amp;(objectClass=group)(lastKnownParent={0}))(isDeleted=TRUE))"/>

  <!-- 
    ===============================
      NPrinting configuration
    ===============================
  -->

  <!-- Properties specifying the NPrinting web address. -->
  <add key="npUrl" value="Nprinting server url e.g. https://localhost:4993" />

</appSettings>